<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.md2k.autosenseble">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="AutoSenseBLE"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/app_theme_teal_light"
        tools:replace="android:theme, android:label">
        <activity android:name=".ActivityMain"
            android:label="AutoSenseBLE"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitySettings"
            android:enabled="true"
            android:exported="true"
            android:label="Settings"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="org.md2k.motionsense.ActivitySettings" />
            </intent-filter>
            >
        </activity>
        <activity
            android:name=".plot.ActivityPlot"
            android:enabled="true"
            android:exported="true"></activity>

        <activity
            android:name=".plot.ActivityPlotChoice"
            android:enabled="true"
            android:exported="true"
            android:screenOrientation="portrait"></activity>

        <service
            android:name=".ServiceAutoSense"
            android:enabled="true"
            android:exported="true"></service>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="1cad146ed866fa3d49c3bc8376ff52af7d9970da" />

        <activity android:name=".ActivityPermission" />




    </application>

</manifest>